.product-picker {
    .rs__multi-value {
        width: 100%;
        background: var(--theme-elevation-50);
        margin-bottom: 2px;
        padding: 4px 6px 4px 0;

        .multi-value-label {
            max-width: none;
            width: 100%;
        }
    }

    .rs__multi-value__label {
        max-width: none;
        width: 100%;
    }

    .rs__input {
        min-height: 46px;
    }
}

.product-picker-option {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: calc(var(--base) / 2);
    padding: calc(var(--base) * .10);

    .product-picker-image {
        border-radius: var(--style-radius-s);
        flex-grow: 0;
        width: 40px;
        height: 40px;
    }

    .product-picker-details {
        flex-grow: 1;
    }

    .product-picker-name {
        .react-select--single-value {
            position: absolute;
        }
    }
}



